@import "../../styles.css";

.header {
  background-color: var(--whiteDark);
  height: 95vh;
  background-image: var(--gradient);
}

.header h2 {
  font-weight: 500;
  color: var(--white);
}

.social-container {
  margin-top: 10px;
}

.social-container img {
  max-width: 25px;
  margin-left: 10px;
}

.social-container img:hover {
  opacity: 0.7;
}

.name-logo-container img {
  max-width: 50px;
  margin-right: 10px;
}

.content-header span {
  font-size: 0.8em;
  color: var(--textDarkLight);
  margin-top: 10px;
}

.links-container {
  width: 100%;
}

.links-container a {
  border: 1px solid var(--theme);
  padding: 5px 10px;
  max-width: 200px;
  width: 100%;
  text-align: center;
  margin: 0 10px;
  background-color: var(--white);
  color: var(--black);
  margin: 7px 0;
  border-radius: 200px;
}

.links-container a:hover {
  opacity: 0.7;
}

.portfolio-container {
  padding: 30px;
  max-width: 100%;
}

.portfolioElement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.4);
}

.portfolioElement:hover img {
  opacity: 0.1;
}

.portfolioElement img {
  max-width: 300px;
  width: 100%;
}

.info-portfolioElement-container {
  padding: 10px;
}

.portfolioElement h2 {
  font-size: 1.2em;
  color: var(--white);
  position: absolute;
  display: none;
  text-align: center;
}

.portfolioElement:hover h2 {
  display: block;
}

.info-portfolioElement-container {
  background-color: var(--whiteDark);
  width: 100%;
  display: flex;
  justify-content: center;
}

.info-portfolioElement-container span {
  color: var(--theme);
  font-size: 0.8em;
  font-weight: 700;
}

/* RESPONSIVE */
@media (max-width: 450px) {
  .info-portfolioElement-container span {
    margin-top: 5px;
  }
  .grid-3-300 {
    gap: 20px;
  }
  .portfolioElement h2 {
    width: 10ch;
    word-wrap: break-word;
  }
}
