@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --theme: #12114b;
  --themeStrong: #09092b;
  --white: #ffffff;
  --black: #000000;
  --whiteDark: #eeeeee;
  --textDarkLight: #888888;
  --textDarkStrong: #333333;
  --gradient: linear-gradient(to right, var(--themeStrong), var(--theme));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* ELEMENTS */
a {
  text-decoration: none;
}

button {
  outline: none;
  cursor: pointer;
}

/* GENERIC CLASSES */
.flex-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-center-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-row-column-between-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.grid-3-300 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  max-width: 100%;
}

.name-section {
  text-align: center;
  margin-top: 30px;
  font-size: 32px;
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  background-image: var(--gradient);
  z-index: 2;
  border-bottom: 1px solid rgba(21, 19, 116, 0.7);
}

.logo-img {
  max-width: 50px;
}

.nav-link {
  margin: 0 10px;
  color: var(--white);
}

.logo-img-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img-link h1 {
  color: var(--white);
}

.nav-link-main {
  background-color: var(--white);
  color: var(--theme);
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: 700;
}

.nav-button {
  display: none;
  border: none;
  background-color: transparent;
}

.attention {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 30px 30px 0 30px;
  max-width: 100%;
}

.attention div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  border-radius: 5px;
  padding: 5px 10px;
  background-color: var(--theme);
  width: 100%;
}

.attention button {
  background-color: transparent;
  border: none;
}

.attention a {
  color: var(--white);
  text-decoration: underline;
}

.header {
  background-color: var(--whiteDark);
  height: 95vh;
  background-image: var(--gradient);
}

.header h2 {
  font-weight: 500;
  color: var(--white);
}

.social-container {
  margin-top: 10px;
}

.social-container img {
  max-width: 25px;
  margin-left: 10px;
}

.social-container img:hover {
  opacity: 0.7;
}

.name-logo-container img {
  max-width: 50px;
  margin-right: 10px;
}

.content-header span {
  font-size: 0.8em;
  color: var(--textDarkLight);
  margin-top: 10px;
}

.links-container {
  width: 100%;
}

.links-container a {
  border: 1px solid var(--theme);
  padding: 5px 10px;
  max-width: 200px;
  width: 100%;
  text-align: center;
  margin: 0 10px;
  background-color: var(--white);
  color: var(--black);
  margin: 7px 0;
  border-radius: 200px;
}

.links-container a:hover {
  opacity: 0.7;
}

.portfolio-container {
  padding: 30px;
  max-width: 100%;
}

.portfolioElement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.4);
}

.portfolioElement:hover img {
  opacity: 0.1;
}

.portfolioElement img {
  max-width: 300px;
  width: 100%;
}

.info-portfolioElement-container {
  padding: 10px;
}

.portfolioElement h2 {
  font-size: 1.2em;
  color: var(--white);
  position: absolute;
  display: none;
  text-align: center;
}

.portfolioElement:hover h2 {
  display: block;
}

.info-portfolioElement-container {
  background-color: var(--whiteDark);
  width: 100%;
  display: flex;
  justify-content: center;
}

.info-portfolioElement-container span {
  color: var(--theme);
  font-size: 0.8em;
  font-weight: 700;
}

/* RESPONSIVE */
@media (max-width: 700px) {
  .grid-3-300 {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 530px) {
  .nav-main {
    flex-direction: column;
    padding: 10px 20px;
  }
  .nav-link {
    display: none;
    margin: 10px 0;
    width: 200px;
    padding: 5px 0;
    text-align: center;
  }
  .nav-button {
    display: block;
    position: absolute;
    right: 20px;
    top: 23px;
  }
  .logo-img-link {
    align-self: flex-start;
  }

  @media (max-width: 450px) {
    .info-portfolioElement-container span {
      margin-top: 5px;
    }
    .grid-3-300 {
      gap: 20px;
    }
    .portfolioElement h2 {
      width: 10ch;
      word-wrap: break-word;
    }
  }
}
