/* === COLUMN ===*/
.flex-c-c-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* === ROW === */
.flex-r-b-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-r-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
