/* === HEADER === */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 24px 24px 24px;
}

.container header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primaryLight);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  color: var(--lightLight);
  height: 240px;
  padding: 16px;
  width: 100%;
  max-width: 744px;
}

.container div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.container div h1 {
  font: var(--h4Bold);
}

.container div p {
  font: var(--small);
  text-align: center;
}

.container svg {
  margin-right: 16px;
  max-width: 48px;
  animation: draw-infinite 10s ease infinite;
}

/* === LINKS === */
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 744px;
  transition: all 10s ease-in;
}

.links a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: var(--shadow);
  border-radius: 8px;
  width: 100%;
  margin-top: 24px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: var(--primaryDark);
  padding: 8px;
}

.links div {
  background: var(--primaryLight);
  padding: 8px;
  border-radius: 8px;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links span {
  margin: auto;
}

.links svg {
  animation: none;
  margin: 0;
}

/* === TAB === */
.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 744px;
  margin-top: 40px;
  position: relative;
}

.tab div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.tab div button {
  background-color: var(--light);
  color: var(--primaryDark);
  border: none;
  padding: 4px 8px;
  font: var(--h6);
  border-radius: 8px;
  margin-right: 12px;
  cursor: pointer;
  outline: none;
}

.tab div .selectedTab {
  background-color: var(--primaryLight);
  color: var(--lightLight);
}

.tab input {
  width: 100%;
  margin-right: 12px;
  padding: 16px;
  box-shadow: var(--shadow);
  border: none;
  border-radius: 8px;
  outline: none;
  animation: input-search 0.7s ease;
}

.tab .toggleSearch {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  outline: none;
}

.tab svg {
  animation: none;
}

/* === PROJECTS === */
.gallery {
  display: grid;
  gap: 12px;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  max-width: 744px;
  margin-top: 40px;
}

.gallery a img {
  max-width: 100%;
  filter: drop-shadow(2px 4px 5px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
}

/* === GOBAL === */
.hide {
  display: none;
}

/* ===== ANIMATIONS ===== */
@keyframes draw-infinite {
  0% {
    stroke-dasharray: 1 100;
    fill: none;
  }
  50% {
    stroke-dasharray: 100 0;
  }
  100% {
    stroke-dasharray: 1 100;
  }
}

@keyframes input-search {
  0% {
    width: 0%;
    position: absolute;
    right: 0;
  }
  100% {
    width: 90%;
    position: absolute;
    right: 30px;
  }
}

/* ===== RESPOSIVE ===== */
@media (max-width: 450px) {
  .container {
    flex-direction: column;
  }
  .container header {
    flex-direction: column;
  }
  .container div {
    align-items: center;
  }
  .container div p {
    margin-top: 4px;
  }
  .container svg {
    margin: 0 0 8px 0;
  }
  .gallery {
    grid-template-columns: 50% 50%;
  }
  .links svg {
    margin: 0;
  }
}
