.draw-animation-infinite {
  animation: draw-infinite 10s ease infinite;
}

@keyframes draw-infinite {
  0% {
    stroke-dasharray: 1 100;
  }
  50% {
    stroke-dasharray: 100 0;
  }
  100% {
    stroke-dasharray: 1 100;
  }
}
