@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&display=swap");

:root {
  --gradientGreen: linear-gradient(270deg, #003b5b 0%, #001427 100%);
  --white: #ffffff;
  --green: #003b5b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}
