@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&display=swap");

:root {
  /* Primary colors */
  --primaryLight: #005d8f;
  --primary: #003b5b;
  --primaryDark: #002336;

  /* Dark colors */
  --darkLight: #4d4d4d;
  --dark: #1e1e1e;
  --darkDark: #0a0a0a;

  /* Light colors */
  --lightLight: #f2f2f2;
  --light: #dadada;
  --lightDark: #b2aaaa;

  /* Regular texts */
  --h1: 3rem/4.5rem "Maven Pro", sans-serif;
  --h2: 2.5rem/3.75rem "Maven Pro", sans-serif;
  --h3: 2.063rem/3.063rem "Maven Pro", sans-serif;
  --h4: 1.688rem/2.5rem "Maven Pro", sans-serif;
  --h5: 1.438rem/2.125rem "Maven Pro", sans-serif;
  --h6: 1.188rem/1.75rem "Maven Pro", sans-serif;
  --p: 1rem/1.5rem "Maven Pro", sans-serif;
  --small: 0.813rem/1.188rem "Maven Pro", sans-serif;

  /* Bold texts */
  --h1Bold: bold 3rem/4.5rem "Maven Pro", sans-serif;
  --h2Bold: bold 2.5rem/3.75rem "Maven Pro", sans-serif;
  --h3Bold: bold 2.063rem/3.063rem "Maven Pro", sans-serif;
  --h4Bold: bold 1.688rem/2.5rem "Maven Pro", sans-serif;
  --h5Bold: bold 1.438rem/2.125rem "Maven Pro", sans-serif;
  --h6Bold: bold 1.188rem/1.75rem "Maven Pro", sans-serif;
  --pBold: bold 1rem/1.5rem "Maven Pro", sans-serif;
  --smallBold: bold 0.813rem/1.188rem "Maven Pro", sans-serif;

  /* Others */
  --shadow: 1px 1px 50px rgba(0, 0, 0, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}
