.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--gradientBlack);
  min-height: 100vh;
  width: 350px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 24px;
}

.infos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infos img {
  max-width: 40px;
  margin-right: 16px;
}

.infos h1 {
  color: var(--white);
}

.infos span {
  color: var(--gray);
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 16px;
}

.links a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  border: 1px solid var(--blue);
  max-width: 250px;
  width: 100%;
  border-radius: 100px;
  padding: 8px 16px;
  margin: 8px 0;
}

.links .mainlink {
  background: var(--gradientBlue);
}

.mail {
  color: var(--white);
  max-width: 250px;
  width: 100%;
  text-align: center;
  margin: 24px;
  font-size: 12px;
}

.mail a {
  color: var(--blue);
}

.musiccontrollers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.musiccontrollers button {
  background-color: transparent;
  border: none;
  margin: 0 4px;
}

.closebtn {
  border: none;
  background-color: var(--black);
  padding: 4px;
  border-radius: 50%;
  position: absolute;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 336px;
}

/* HIDDEN */
.containerhidden {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--gradientBlack);
  min-height: 100vh;
  width: 64px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 16px;
}

.containerhidden img {
  max-width: 32px;
  margin-bottom: 32px;
}

.containerhidden a {
  margin: 12px 0;
}

.containerhidden div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 32px;
}

.containerhidden div button {
  margin: 4px 0;
  border: none;
  background-color: transparent;
}

.openbtn {
  border: none;
  background-color: var(--black);
  padding: 4px;
  border-radius: 50%;
  position: absolute;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 52px;
}

@media (max-width: 500px) {
  .container {
    width: 300px;
    padding: 32px;
  }
  .closebtn {
    left: 288px;
  }
}
