@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&display=swap");
@import "./layout/flex.css";

:root {
  --gradientGreen: linear-gradient(270deg, #003b5b 0%, #001427 100%);
  --gradientBlue: linear-gradient(270deg, #007cf0 0%, #003a70 100%);
  --gray: #7e7e7e;
  --white: #ffffff;
  --blue: #007cf0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}

body {
  background: var(--gradientGreen);
}

button {
  outline: none;
}

/* ===== HEADER ===== */
header {
  width: 100%;
  min-height: 100vh;
  padding: 24px;
}

header svg {
  max-width: 30px;
  margin-right: 12px;
}

header svg path {
  animation: path 10s ease infinite;
}

@keyframes path {
  0% {
    stroke-dasharray: 1 100;
  }
  50% {
    stroke-dasharray: 100 0;
  }
  100% {
    stroke-dasharray: 1 100;
  }
}

header button#menu-btn {
  border: none;
  background: transparent;
  display: none;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  margin: 0 16px;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li a {
  text-decoration: none;
  color: var(--white);
  padding: 2px 0;
}

/* ===== MAIN ===== */

.social img {
  max-width: 48px;
  margin: 32px 0;
}

.social a img {
  max-width: 24px;
  margin: 8px 0;
}

.social span {
  text-transform: uppercase;
  width: 1ch;
  word-wrap: break-word;
  text-align: center;
  color: gray;
  line-height: 32px;
}

.services h1 {
  color: var(--white);
}

.services p {
  color: var(--white);
  margin: 16px 0;
  text-align: center;
}

.services a {
  max-width: 168px;
  width: 100%;
  padding: 8px 0;
  border-radius: 8px;
  color: var(--white);
  text-decoration: none;
  text-align: center;
  background: var(--gradientBlue);
}

.music-controller {
  margin-top: 32px;
}

.music-controller button {
  background-color: transparent;
  border: none;
}

.projects img {
  max-width: 48px;
  margin: 32px 0;
}

.projects a img {
  max-width: 24px;
  margin: 8px 0;
}

.projects span {
  text-transform: uppercase;
  width: 1ch;
  word-wrap: break-word;
  text-align: center;
  color: gray;
  line-height: 32px;
}

/* ===== Projects ===== */
#projects-container {
  padding: 24px;
}

#projects-container h2 {
  font-weight: 500;
  font-size: 24px;
  color: var(--white);
}

#projects-container div {
  display: grid;
  gap: 12px;
  grid-template-columns: auto auto auto auto auto;
  margin-top: 32px;
}

#projects-container div a img {
  max-width: 100%;
  filter: drop-shadow(2px 4px 5px rgba(0, 0, 0, 0.25));
}

/* ===== RESPONSIVE ===== */
@media (max-width: 950px) {
  #projects-container div {
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 450px) {
  header nav {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    background: var(--gradientGreen);
    width: 100%;
  }
  header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  header nav ul li {
    text-align: center;
    margin: 16px 0;
  }
  header button#menu-btn {
    display: block;
    z-index: 2;
  }
  .social img {
    max-width: 24px;
    margin: 16px 0;
  }
  .projects img {
    max-width: 24px;
    margin: 16px 0;
  }
  .services p {
    max-width: 168px;
    width: 100%;
  }
  #projects-container div {
    grid-template-columns: auto auto;
  }
  header svg {
    margin-right: 0;
    margin-bottom: 12px;
  }

  header h1 {
    flex-direction: column;
  }
}
