@import "../styles.css";

.header {
  padding: 50px 30px;
  background-color: var(--whiteDark);
  height: 100vh;
}

.name-logo-container h1 {
  font-weight: 500;
}

.social-container {
  margin-top: 10px;
}

.social-container img {
  max-width: 25px;
  margin-left: 10px;
}

.social-container img:hover {
  opacity: 0.7;
}

.name-logo-container img {
  max-width: 50px;
  margin-right: 10px;
}

.content-header span {
  font-size: 0.8em;
  color: var(--textDarkLight);
  margin-top: 10px;
}

.links-container {
  width: 100%;
}

.links-container a {
  border: 1px solid var(--theme);
  padding: 5px 10px;
  max-width: 200px;
  width: 100%;
  text-align: center;
  margin: 0 10px;
  background-color: var(--white);
  color: var(--black);
  margin: 7px 0;
}

.links-container a:hover {
  opacity: 0.7;
}

.portfolio-container {
  padding: 30px;
  max-width: 100%;
}

.portfolioElement {
  background-color: var(--whiteDark);
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.4);
  height: 100%;
}

.portfolioElement:hover img {
  opacity: 0.7;
}

.portfolioElement img {
  max-width: 300px;
  width: 100%;
}

.info-portfolioElement-container {
  padding: 10px;
}

.info-portfolioElement-container h2 {
  font-size: 1.2em;
  color: var(--textDarkStrong);
}

.info-portfolioElement-container span {
  color: var(--theme);
  font-size: 0.8em;
  font-weight: 700;
}

/* RESPONSIVE */
@media (max-width: 450px) {
  .info-portfolioElement-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .info-portfolioElement-container span {
    margin-top: 5px;
  }
  .grid-3-300 {
    gap: 20px;
  }
  .portfolio-container {
    padding: 30px 20px;
  }
}

/* ANIMATIONS */
@keyframes portfolioElementAnimationScroll {
  0% {
    opacity: 0;
    transform: translate(100px, 0px);
  }
  50% {
    opacity: 0.5;
    transform: translate(50px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
