.container {
  width: 100%;
  padding: 0 24px;
}

.coins {
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px;
  margin: 8px 0 24px 0;
}

.coin {
  background-color: var(--black);
  width: 100%;
  border-radius: 12px;
  padding: 24px;
  color: var(--white);
  display: flex;
  flex-direction: column;
}

.infos,
.chartcontrollers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infos select {
  background-color: var(--black);
  border: 1px solid var(--white);
  color: var(--white);
  border-radius: 100px;
  padding: 4px 8px;
}

.infos span {
  font-size: 24px;
}

.chartcontrollers {
  margin-top: 16px;
}

.chartcontrollers button {
  border: none;
  background-color: transparent;
  color: var(--white);
}

.chartcontrollers div button {
  margin: 0 8px;
}

.chartcontrollers .viewhiddechart {
  color: var(--blue);
}

@media (max-width: 830px) {
  .coins {
    grid-template-columns: auto;
  }
}
@media (max-width: 400px) {
  .coin {
    padding: 16px;
  }
  .infos span {
    font-size: 12px;
  }
  .infos select {
    background-color: var(--black);
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 100px;
    padding: 2px 4px;
    font-size: 12px;
  }
}
